/* Common shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.text-primary {
  color: #e55473;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;

  padding: 13px 30px;
}

/* flower header start*/

.flower-header {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 200px 0px 200px;

  gap: 60px;
  height: 680px;
  width: 1025px;
  margin: 0 auto;
}

.header-container {
  width: 70%;
  text-align: left;
}

.header-image {
  width: 30%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header-title {
  color: #272727;
  font-family: Lato;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-desc {
  margin: 30px 0px;
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.header-image img {
  width: 450px;
  height: 650px;
  margin-bottom: -30px;
}

/* flower header end*/

/* flower flower section design start */

.featured-flower {
  background: #fff;
  padding: 50px;
  text-align: center;
}

.featured-container {
  margin-bottom: 20px;
}

.featured-title {
  color: #272727;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.featured-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
}

.card-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  margin: 0 15px;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  
}

#card-1 {
  background: rgba(167, 33, 98, 0.15);
}
#card-2 {
  background: rgba(5, 151, 160, 0.15);
}
#card-3 {
  background: rgba(71, 125, 17, 0.15);
}

.card .card-image {
  width: 100%;
  height: auto;
  width: 200px;
  object-fit: contain;
  position: absolute;
  /* left: 20px;
  bottom: 0px; */

  left: 50%;
  top: 50%;
  transform: translate(-50%,-45%);


  
  
}

.card-text {
  margin-top: 10px;
}

.card-text a {
  color: #272727;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

/* flower flower section design start */

/* hot deal section design start */

.hot-deal {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  padding: 100px 200px;
  gap: 130px;
  width: 1025px;
  margin: 0 auto;
}

.hot-deal-container {
  width: 70%;
  text-align: center;
}

.hot-deal-title {
  color: #272727;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hot-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.hot-deal-image {
  width: 30%;
  justify-content: flex-end;
}
/* hot deal section design end */

/* insta-section start */

.insta-section {
  background: #fff;
  height: 470px;
  width: 1422px;
  margin: 0 auto;
}

.insta-title {
  color: #272727;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 80px;
  margin-bottom: 0px;
}

.insta-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}

.insta-image {
  display: flex;
  justify-content: center;
  margin-left: 195px;
  margin-right: 175px;
  margin-top: 30px;
}

.insta-image img {
  width: 235px;
  margin-right: 20px;
}

/*deal-message section start*/

.insta-message {
  margin: 0 auto;
  width: 1422px;
  height: 290px;
}
.deal-message {
  margin: 0px 200px;
  height: 290px;
  background-image: url("flower_asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-message-title {
  color: #272727;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deal-message-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.deal-message .email-us {
  width: 450px;
  height: 34px;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  border: none;
}

.deal-message-title {
  margin-bottom: 10px;
}

.deal-message-desc {
  margin-bottom: 35px;
}

.email-us {
  margin-right: 10px;
}

/* footer section design start */

.footer-section {
  width: 100%;
  background: #111010;
  margin: 100px auto 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.footer-title {
  color: #ffffff;

  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer-desc {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.copy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* footer section design end */
